<form action="/answer" class="form-group">
  <label for="ask">Ask your coach anything:</label>
    <div class="inputs d-flex">
      <input type="text" name="question" class="form-control" value="<%= params[:question] %>">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
</form>
