// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  width: 500px;
}

.chat {
  padding-left: 10px;
  border-left: 3px solid #DDDDDD;
}

.chat-you {
  margin-top: 20px;
}

.chat-coach {
  background-color: #FEFFE1;
}
